---
layout: layouts/base.njk
---

<main class="content project">
  {{ content | safe }}

  <div class="specifications">
  {%- for spec in specs -%}
    {% specification spec %}
  {%- endfor -%}
  </div>

  <div class="project-images">
    {%- for img in images -%}
      {% image img, "test alt" %}
    {%- endfor -%}
  </div>
</main>
