---
layout: layouts/base.njk
---

<main class="content project">
  <div class="grid">
    <div class="text">
      {{ content | safe }}
    </div>
    <div class="spec">
      {%- for spec in specs -%}
        {% specification spec %}
      {%- endfor -%}
    </div>
    <div class="img">
      {%- for img in images -%}
        {% image img, "test alt" %}
      {%- endfor -%}
    </div>
  </div>
</main>
